body {
    background-color: #007FFF;
}

.header {
    padding: 1px;
    padding-top: 5px;
    background: white;
}

.card {
    width: 26rem;
    margin: 10px auto;
    float: none;
}

.settings {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
}

.title {
    text-align: center;
}

.denomination-label {
    width: 4rem;
}

.total-label {
    width: 4rem;
}

.multiplier {
    width: 4rem;
}


/* Dead Zone

*/