body {
    background-color: #007FFF;
}

.header {
    padding: 1px;
    padding-top: 5px;
    text-align: center;
    background: white;
}

.card {
    width: 26rem;
    margin: 10px auto;
    float: none;
}

.input-form{
    overflow: auto;
}

.denomination-label {
    width: 4rem;
}

.total-label {
    width: 4rem;
}

.multiplier {
    width: 4rem;
}